@{
    ViewBag.Title = "About";
}

<br />
<h3><span style="color: forestgreen">Information about our Pharmacy</span>
</h3>
<p style="font-size:large">
    The company has its own capital and premises, a large assortment of medicines, juices, teas, cosmetics for men and children.<br />
    It also contains children's accessories as well as meals and delicacies.<br />
    The pharmacy is open from Monday to Friday between 9-19, on Sundays and holidays from 10-16 and conducts night duty.<br />
</p>
