@{
    ViewBag.Title = "Contact";
}

    <h3>
        <span style="color: forestgreen">Contact</span>
       

    </h3>

<address style="font-size:large">
    Name: "Pharmacy"<br />
    Phone: (+48) 502 125 045<br />
    Address: 00-111 Katowice ul. Piłsudskiego 1<br />
    Owner: Anna Kowalska<br />
    Date of commencement of operations: 1.09.2019.<br />
    Characteristics of the business: sales of medicines, teas, cosmetics for both men and women. We also have high quality accessories for children.<br />
    Place of business: 00-111 Katowice, ul. Piłsudskiego 1<br />
    Real estate: private property in Katowice<br />

</address>

<address>
    <strong>Email:</strong>   <a href="anna.kowalska@gmail.com">anna.kowalska@gmail.com</a><br />
    
</address>
